<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="SiteUrl" value="http://localhost:23933" />
      <add key="RegisterUrl" value="/Account/Register" />
      <add key="LoginUrl" value="/Account/Login"/>
      <add key="ChromeDrive" value="D:\Download\chromedriver_win32"/>

      <add key="TestUserName" value="linhtx"/>
      <add key="TestPassword" value="pass2015"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
